


.selectsBlock {
    display: inline-flex;
    flex-direction: column;
    max-height: 50px;
}

.selectsBlock span {
    display: inline-block;
    color: #ACACAC;
    font-size: 15px;
}

.selectsBlock input[type=time] {
    border: none;
    color: #505050;
    font-size: 14px;
    font-family: helvetica;
    width: 120px;
  }

  .selectsBlock input[type=time]::-webkit-datetime-edit-fields-wrapper {
    display: flex;
  }
  
  /* The space between the fields - between hour and minute, the minute and 
  second, second and am/pm */
  .selectsBlock  input[type=time]::-webkit-datetime-edit-text {
    padding: 9px 4px;
  }
  
  /* The naming convention for the hour, minute, second, and am/pm field is
  `-webkit-datetime-edit-{field}-field` */
  
  /* Hour */
  .selectsBlock input[type=time]::-webkit-datetime-edit-hour-field {
    background-color: #f2f4f5;
    border-radius: 15%;
    padding: 9px 13px;
  }
  
  /* Minute */
  .selectsBlock input[type=time]::-webkit-datetime-edit-minute-field {
    background-color: #f2f4f5;
    border-radius: 15%;
    padding: 9px 13px;
  }
  
  /* AM/PM */
  .selectsBlock  input[type=time]::-webkit-datetime-edit-ampm-field {
    background-color: #7155d3;
    border-radius: 15%;
    color: #fff;
    padding: 9px 13px;
  }
  
  /* 'X' button for resetting/clearing time */
  .selectsBlock input[type=time]::-webkit-clear-button {
    display: none;
  }
  
  /* Up/Down arrows for incrementing/decrementing the value */
  .selectsBlock input[type=time]::-webkit-inner-spin-button {
    display: none;
  }
  
  .topBlock {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    align-items: center;
    height: 60px;
  }


  .selectSearchBlock {
    position: relative;
    display: grid;
    grid-template-rows: repeat(2, auto);
    gap: 10px;
  }

  .selectSearchBlock input{
    display: flex;
    align-items: center;
    padding: 0 18px;
    height: 40px;
    outline: 1px solid #adb5bd8b;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 500;
    color: #707070;
    transition: all .15s;
  }

  .selectSearchBlock ul {
    position: absolute;
    width: 100%;
    bottom: -135%;
  }
  .selectSearchBlock li {
    padding: 2px 2px;
    background-color: #fff;
    cursor: pointer;
    bottom: -100%;
    transition: all .2s ;
  }
  .selectSearchBlock li:hover {
    background-color: #dcdcdc;
  }
  .midBlock {
    margin-top: 8px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }


  .bottomBlock {
    position: relative;
    width: 150px;
    height: 47px;
  }

  .bottonSetBtn {
    color: #484848;
  }