@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');






* {
    box-sizing:border-box ;
    margin:0 ;
    padding:0 ;
}

body {
    font-family: 'Roboto', serif ;
}

a {
    color: #00B4D8 ;
    text-decoration: none ;
}

.disableBtn {
    pointer-events:none ;
    opacity:.4 ;
}

.container {
    max-width: 1620px;
    margin: 0 auto;
    padding: 0 15px;
}

.fc-toolbar-title {

    font-size: 28px !important;
    color:#3c3e42;   
}

.fc-media-screen  {
    padding: 30px 40px;
    box-sizing: border-box;
}
